<html>

<head>
  <title>User Profile</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>
  <header>
    <a style="margin-right: auto;" href="http://localhost:5500/index.html">
      <img class="logo" src="/logo.png" alt="logo">
    </a>
    <nav>
      <ul class="nav__links">
        <li>
          <p>Admin</p>
        </li>
        <li>
          <p>
            <%= user.name %>
          </p>
        </li>
      </ul>
    </nav>
    <a class="cta" href="/logout"><button>Kirjaudu ulos</button></a>
  </header>




    

    <section class="lajit">

      <section class="sidebar">
        <h2>Sidebar</h2>
        <ul>
          <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="#"></a><i class="fas fa-solid fa-user-group"></i>Asiakkaat</li>
          <li><a href="#"></a><i class="fas fa-home"></i>Viestit</li>
          <li><a href="#"></a><i class="fas fa-home"></i>Harjoitukset</li>



        </ul>
      </section>
      <div class="main_content">
        <div class="bigdata">
          <div class="laji">
            <h3> Asiakkaita yhteensä</h3>
            <h3><%= clients.length %></h3>
          </div>
          <div class="laji">
            <h3>Tulot tässä kuussa</h3>
            <h3>0 €</h3>
          </div>
          <div class="laji">
            <h3>Uusia asiakkaita</h3>
            <h3>0</h3>
          </div>
      </div>
      <div class="userinfo">
        <div class="new_flex_container">
        <br>
        <table class="clientstable">
          <tr>
            <th>Kuva</th>
            <th>Nimi</th>
            <th>Ikä</th>
            <th>Laji</th>
            <th>Puhelinnumero</th>
            <th>Aloita chat</th>
          </tr>
          <% clients.forEach(client => { %>
            <tr>
              <td><img class="client-picture" src="person.jpeg"></td>
              <td><%= client.username %></td>
              <td><%= client.age %></td>
              <td><%= client.sport %></td>
              <td><%= client.phoneNumber %></td>
              <td><button>Chat</button></td>
            </tr>
          <% }); %>
        </table>
        </div>
        </div>
        </p>
      </div>
        </div>
      </div>
    </section>


</body>

</html>