<html>

<head>
  <title>User Profile</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>
  <header>
    <a style="margin-right: auto;" href="http://localhost:5500/index.html">
      <img class="logo" src="/logo.png" alt="logo">
    </a>
    <nav>
      <ul class="nav__links">
        <li>
          <p>Admin</p>
        </li>
        <li>
          <p>
            <%= user.name %>
          </p>
        </li>
      </ul>
    </nav>
    <a class="cta" href="/logout"><button>Kirjaudu ulos</button></a>
  </header>




    

    <section class="lajit">

      <section class="sidebar">
        <h2>Valikko</h2>
        <ul>
          <li><a href="#"></a><i class="fas fa-home"></i>Home</li>
          <li><a href="/clients"><i class="fas fa-solid fa-user-group"></i>Asiakkaat</a></li>
          <li><a href="#"></a><i class="fas fa-home"></i>Viestit</li>
          <li><a href="#"></a><i class="fas fa-home"></i>Harjoitukset</li>



        </ul>
      </section>
      <div class="main_content">
        <div class="bigdata">
          <div class="laji">
            <h3> Asiakkaita yhteensä</h3>
            <h3>0</h3>
          </div>
          <div class="laji">
            <h3>Tulot tässä kuussa</h3>
            <h3>0 €</h3>
          </div>
          <div class="laji">
            <h3>Uusia asiakkaita</h3>
            <h3>0</h3>
          </div>
      </div>
      <div class="userinfo">
        <div class="new_flex_container">
        <br>
        <h3 style="text-align: left; margin-left: 10px;">Käyttäjänimi: <%= user.name %><br>
          Ikä: <%= user.age %><br>
          Puhelinnumero: <%= user.phone %><br>
          Laji: <%= user.sport %><br>
        </h3>
      </div>
        </div>
      </div>
    </section>


</body>

</html>